html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 25px;
}
/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button {
  border-radius: 0.3125rem;
  text-decoration: none;
  background-color: #ffbd59;
  color: black;
  padding: 0.8125rem 3rem;
  font-size: small;
  font-weight: 700;
}

.button:hover {
  color: #ffbd59;
  background-color: transparent;
  border: solid 1px #ffbd59;
  transition: 0.3s;
}

.center-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.center {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.center-link {
  text-align: center;
}
/* end of utilities */

/* Header Styles  */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  overflow: hidden;
  /* position: fixed; */
  
}

.logo {
  height: 5.625rem;
  width: auto;
  padding-left: 3.125rem;
}

.nav-items {
  overflow: hidden;
  display: flex;
  flex-basis: 55%;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items .icon{
  display: none;
}

.link-item {
  color: white;
  text-decoration: none;
}

.link-item:hover {
  color: #ffbd59;
  transition: 0.1s ease;
  border-bottom: dotted;
}

.header {
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-text {
  width: 25rem;
  font-size: 40px;
  line-height: 46.96px;
}

.header-text {
  margin-bottom: 2rem;
  font-weight: 400;
}

.hero-image {
  width: 734.66px;
  height: auto;
  margin-top: 8rem;
}
/* End of header styles */

/* about us section */
.about-us-text,
.volunteer-text {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.about-us-container {
  background-color: rgb(250, 250, 250);
  padding: 160px 100px 210px 100px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about-us-image {
  width: auto;
  height: 330px;
  max-width: 100%;
  margin-top: -2rem;
}

.about-us-content {
  margin-left: 50px;
}

.about-us-content > p {
  font-weight: 400;
}

.about-us-link,
.partnership-link {
  color: black;
  font-weight: 600;
}

.about-us-link:hover,
.partnership-link:hover {
  color: #ffbd59;
}
/* end of about us section */

/* events section */
.events {
  padding: 150px 91px 150px 100px;
}

.event-titles {
  padding-bottom: 56px;
}

.event-titles span:nth-child(2) {
  padding: 0 62px 0 51px;
}

.event-titles > * {
  font-weight: 400;
  font-size: 2rem;
  transition: 0.3s ease;
}

.event-titles > *:hover {
  font-weight: 700;
  transition: 0.3s ease;
  cursor: pointer;
}

.event-cards {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 6.25rem;
}

.event-tag {
  border-radius: 4px;
  margin-left: 18px;
  line-height: 19px;
  background-color: #99e3b9;
  padding: 3px 8px;
  margin: 19px 18px 19px;
  color: rgba(0, 128, 55, 1);
}

.img-card {
  background-color: rgb(238, 238, 238);
  border-radius: 7px;
}

.img-card:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
}

.round {
  border-radius: 0.4375rem 0.4375rem 0 0;
}

.img-card-body {
  padding-bottom: 16px;
  margin-top: -0.4rem;
}

.img-card-header {
  margin-top: 0;
  border-left: 8px solid darkred;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: 800;
  width: 280px;
  font-size: 1.2rem;
}

.img-card-date {
  padding-left: 18px;
  margin-bottom: 0;
  font-weight: 400;
}

.img-card-body p:nth-child(3) {
  padding-left: 18px;
  margin-top: 0;
  font-weight: 400;
}
/* end of events section */

/* newsletter section */
.newsletter-container {
  background-color: rgb(250, 250, 250);
  padding-top: 171px;
  padding-bottom: 79px;
}

.newsletter-link {
  margin-top: 2.5rem;
}

.newsletter-container > p {
  font-weight: 400;
}
/* end of newsletter section */

/* volunteer section */
.volunteer-section{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.volunteer-content {
  padding-top: 216px;
}

.volunteer-text {
  width: 620px;
}

.volunteer-img {
  margin-top: 140px;
  width: 450px;
  margin-bottom: 150px;
}
/* end of volunteer section */

/* partnership section */
.partnership-section {
  padding: 100px 0 177px 0;
  background-color: rgb(250, 250, 250);
}

.partnership-text {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 400;
}
/* end of partnership section */

/* footer styles */
.footer {
  margin-bottom: 0;
  padding: 40px 221px 66px 101px;
  display: flex;
  gap: 150px;
  background-color: black;
}

.orange {
  color: #ffbd59;
}

.footer-icon {
  height: auto;
  width: 20px;
  padding-right: 10px;
}
/* end of footer styles */


/* Responsive Styles */
@media screen and (max-width: 1024px) {
  /* header styles */
  .nav-items {
    flex-basis: 65%;
  }

  .hero-image {
    width: 450px;
  }

  .hero-text {
    font-size: 32px;
  }
  /* end of header styles */

  /* about us section styles */
  .about-us-image {
    height: 230px;
  }

  .about-us-content {
    margin-left: 0;
  }
  /* end of about us section styles */

  /* event section styles */
  .event-titles > *{
    font-size: 1.5rem;
  }

  .img-card img {
    width: 250px;
  }
  /* end of event section styles */

  /* volunteer section styles */
  .volunteer-text {
    width: 450px;
    max-width: 100%;
  }
  /* end of volunteer section styles */

  /* footer styles */
  .footer {
    padding: 40px 80px 66px 80px;
    gap: 50px;
    font-size: .9rem;
  }
  
  .footer-contact {
    padding-left: 30px
  }
  /* end of footer styles */
}

@media screen and (max-width: 768px) {
  /* header styles */
  .nav-items{
    flex-basis: 80%;
  }

.logo{
  padding-left: 10px;
}

.header{
  display: initial;
  text-align: center;
}

.hero-text{
  width: initial;
}

.header-text{
  padding: 0 50px;
}
/* end of header styles */

/* about us section styles */
.about-us-container{
  display: inherit;
  text-align: center;
  padding: 80px 50px 105px 50px;
}

.about-us-image{
  display: block;
  margin-top: initial;
  margin: 10px auto;
}
/* end of about us section styles */

/* event section styles */
.event-titles > *{
  font-size: 1.2rem;
}

.event-titles{
  padding-bottom: 20px;
}

.img-card img {
  width: 180px;
}

.img-card{
  width: 180px;
}

.img-card-header{
  width: initial;
}

.events{
  padding: 75px 45px 75px 50px;
}
/* end of event section styles */

/* newsletter section styles */
.newsletter-container{
  padding: 150px 50px 70px 50px;
}
/* end of newsletter section styles */

/* volunteer section styles */
.volunteer-section{
  display: initial;
  text-align: center;
}

.volunteer-content{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.volunteer-text{
  width: initial;
}

.volunteer-img{
  display: block;
  margin: 20px auto;
}
/* end of volunteer section styles */

/* footer styles */
.footer {
  padding: 20px 40px 33px 40px;
  gap: 50px;
  font-size: 13px;
}

.footer-contact {
  padding-left: 14px
}
/* end of footer styles */
}

@media screen and (max-width: 742px) and (-webkit-min-device-pixel-ratio:0){
  .footer{
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio:0) {
  /* header styles */
  .nav-items a{
    display: none;
  }

  .nav-items a.icon{
    float: right;
    display: block;
    color: white;
    padding-right: 20px;
  }

  .nav-items.responsive{
    position: relative;
  }

  .nav-items.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-items.responsive a{
    float: right;
    display: block;
    text-align: right;
  }

  .logo{
    padding-left: 0;
  }

  .nav-items{
    justify-content: end;
    gap: 12px;
    flex-basis: 95%;
  }

  .responsive{
    padding: 10px 20px;
  }
  /* End of header styles */

  /* events section styles */
  .event-cards{
    gap: 10px;
  }
  /* End of events section styles */

  /* footer styles */
  .footer{
    font-size: 10px;
    gap: 15px;
  }
  /* end of footer styles */
}